*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
}


body{
    background-color: black;
    background-position: center;
}
.contenido{
    display: flex;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido .titulo{
    text-align: center;
    color: #D4AF37;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 150px;
   
   
    
}
.contenido .titulo span{
    font-size: 50px;
    color: #D4AF37;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;


}
.contenido .titulo .Ktitle{
    width: 50px;
    height: 60px;
    top: 10px;
    position: relative;
    
}

  
.contenido .botuno{
    
    cursor: pointer;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(10, 10, 10);
    border: 1px solid #fff;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
 
}

.botuno:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: black;
}
#registrarcliente{
    background-color: black;
}

#registrarventa{
    background-color: black;
}

.tventas .ventas{
    font-size: 50px;
    color: #D4AF37;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 100;
    padding: 10px;
    font-weight: 800;
}

.tventas .ventas span{
    font-size: 50px;
    color: #D4AF37;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;

}
/* Pagina de clientes -----------------*/
.form{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #000000;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;


}
.form .controls{
    width: 100%;
    height: 30px;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-top: 5px;  
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 0.5em;
    border-color: #000000;
}
.form .items{
    color: white;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    
    
}



.form .guardar{ 
    border-radius: 5px;
    height: 30px;
    width: 30%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    letter-spacing: 1px;
    
}
.form .guardar:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
.volver{
    display: flex;
    flex-direction: row;
}

.volver .volverUno{
    cursor: pointer;
    margin: auto;
    letter-spacing: 4px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(71, 70, 70);
    border: 1px solid #fff;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;

 
}

.volver .volverUno:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: black;

}


/* pagina de ventas ---------------------*/
/* Estilos para el contenedor y los elementos del formulario */

.container {
    display: flex;
    flex-direction: row;
   
}

.formventas {
    width: 70%;
    max-width: 300px; /* Ancho máximo del formulario */
    margin-bottom: 15px;
}

.upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 230px;
    margin-right: 10%;
    
    
    
}

.control {
    width: calc(60% - 10px); /* Ancho del input DNI */
    height: 26px;
    border-radius: 5px solid;
    
    
}

.buscar {
    width: 32%; /* Ancho del botón Buscar */
    height: 26px;
    border-radius: 5px solid;
}
.upper-section .buscar:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
/* Estilos para los elementos del formulario */

.container {
    display: flex;
    align-items: center;
    height: 45vh;
    justify-content: center;
   
    
    
}

.formulario {
    width: 30%;
    height: 270px;
    max-width: 300px; /* Ancho máximo del formulario */
    border-radius: 5px;
    border: 3px solid #D4AF37;
    padding: 10px;
    
}

.formdos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el ancho mínimo de las columnas */
    gap: 1px;
}

.items {
    color: #D4AF37;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    line-height: 2px; /* Ajusta la altura de línea */
    text-align: center;
    margin: 2px; /* Agrega un pequeño margen entre los elementos */
}

.cargaventa{
    text-align: center;
    color: #D4AF37;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    padding: 10px;
    

   
}
.formventas .guardar{ 
    border-radius: 5px;
    width: 22%;
    height: 31px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    letter-spacing: 1px;
    
    
    
}



.formventas .guardar:hover{

    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}







.cobranza{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background-color: #000000;
    margin: auto;
    
   
    
}
.cobranza .controlsGuardar{
    width: 60%;
    height: 30px;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-top: 5px;  
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 0.5em;
    border-color: #000000;

}




.cobranza .volverGuardar{
    display: flex;
    flex-direction: row;
    width: 47%;
    margin-right: 12%;
    
    
}
.cobranza .volverGuardar .guardarCobranza{
    border-radius: 5px;
    height: 30px;
    width: 70%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    letter-spacing: 1px;
   
    

}
.guardarCobranza:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
.volverTres{
    cursor: pointer;
    margin: auto;
    letter-spacing: 4px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(71, 70, 70);
    border: 1px solid #fff;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
    margin-left: 10px;
    


}






.dclientes{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #fff;
    width: 60%;
    height: 80px;
    border-radius: 5px;
    margin-top: 5%;
}
.dclientes .datoscliente{
    color: #000000;
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;

}


::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

/* Comienzo de la página de transacciones  *************************/

/* Estilos para el contenedor y los elementos del formulario */

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formtransacciones {
    width: 50%;
    max-width: 300px; /* Ancho máximo del formulario */
    margin-bottom: 15px;
}

.upper-sectionDos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    
}

.control {
    width: calc(60% - 10px); /* Ancho del input DNI */
    height: 26px;
    border-radius: 5px solid;
    
}

.buscar {
    width: 32%; /* Ancho del botón Buscar */
    height: 26px;
    border-radius: 5px solid;
}
.upper-sectionDos .buscar:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
/* Estilos para los elementos del formulario */

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.formularioTres {
    width: 100%;
    max-width: 300px; /* Ancho máximo del formulario */
    border-radius: 5px;
    border: 3px solid #D4AF37;
    height: 150px;
    
}

.formdos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el ancho mínimo de las columnas */
    gap: 2px;
}

.items {
    color: #D4AF37;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    line-height: 20px; /* Ajusta la altura de línea */
    text-align: center;
    margin: 5px; /* Agrega un pequeño margen entre los elementos */
}
.volverDos{
    cursor: pointer;
    margin: auto;
    letter-spacing: 4px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(71, 70, 70);
    border: 1px solid #fff;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
    
}






/* para celulares hasta 800*/
@media screen and (min-width: 375px) and (max-width: 800px) {
    
    
    /* VENTAS ------------------*/
    .tventas .ventas{
        font-size: 30px;
        margin-top: 5px;
    }
    #registro{
        font-size: 30px;
        margin: auto;
        text-align: center;
        margin-top: 5px;
    }
    
    /* pagina de ventas ---------------------*/
/* Estilos para el contenedor y los elementos del formulario */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formventas {
    width: 50%;
    max-width: 300px; /* Ancho máximo del formulario */
    margin-bottom: 15px;
}

.upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    
    
}

.control {
    width: calc(60% - 10px); /* Ancho del input DNI */
    height: 26px;
    border-radius: 5px solid;
    
}

.buscar {
    width: 36%; /* Ancho del botón Buscar */
    height: 26px;
    border-radius: 5px solid;
}
.upper-section .buscar:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
/* Estilos para los elementos del formulario */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36vh;
}

.formulario {
    width: 60%;
    height: 100%;
    max-width: 300px; /* Ancho máximo del formulario */
    border-radius: 5px;
    border: 3px solid #D4AF37;
}

.formdos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el ancho mínimo de las columnas */
    gap: 1px;
    margin-top: 6px;
}

.items {
    color: #D4AF37;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    line-height: 10px; /* Ajusta la altura de línea */
    text-align: center;
    margin: 5px; /* Agrega un pequeño margen entre los elementos */
}
  
.cobranza{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #000000;
    margin: auto;
    margin-top: 10px;
    
    
}
.cobranza .controlsGuardar{
    margin: auto;
    height: 30px;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 16px; 
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 0.5em;
    border-color: #000000;

}

.guardarCobranza{
    border-radius: 5px;
    width: 31%;
    height: 31px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin: auto;
}

.guardarCobranza:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
.botonVolver{
    display: flex;
    flex-direction: column;

    
}
.botonVolver .volverDos{
    width: 27%;
    height: 31px;
    cursor: pointer;
    letter-spacing: 4px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(71, 70, 70);
    border: 1px solid #fff;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
    
}

.botonVolver .volverDos:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: black;


}


.dclientes{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: #fff;
    width: 60%;
    height: 80px;
    border-radius: 5px;
    margin-top: 5%;
}
.dclientes .datoscliente{
    color: #000000;
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;

}

.cargaventa{
    color: #D4AF37;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    
}
.formventas .guardar{ 
    border-radius: 5px;
    width: 22%;
    height: 31px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-top: 3px;
    margin-left: 5px;
    letter-spacing: 1px;
    
    
    
}



.formventas .guardar:hover{

    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
/* Clientes -----------------------------------*/
.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #000000;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;


}
.form .controls{
    width: 100%;
    height: 30px;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-top: 5px;  
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 0.5em;
    border-color: #000000;
}
.form .items{
    color: white;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    
    
}



.form .guardar{ 
    border-radius: 5px;
    height: 30px;
    width: 40%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    letter-spacing: 1px;
    
}
.form .guardar:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    border-style: dotted;
    color: black;

}
.volver{
    display: flex;
    flex-direction: row;
}

.volver .volverUno{
    cursor: pointer;
    margin: auto;
    letter-spacing: 4px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(71, 70, 70);
    border: 1px solid #fff;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;

 
}

.volver .volverUno:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: black;

}
/* Comienzo de la página de transacciones  *************************/


  /* INDEX PRINCIPAL ---------------*/
  .contenido{
    display: flex;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido .titulo{
    text-align: center;
    color: #D4AF37;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 100px;
   
   
    
}
.contenido .titulo span{
    font-size: 50px;
    color: #D4AF37;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;


}
.contenido .titulo .Ktitle{
    width: 50px;
    height: 60px;
    top: 10px;
    position: relative;
    
}

  
.contenido .botuno{
    
    cursor: pointer;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
    border: 1px solid #fff;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    text-decoration: none;
 
}

.botuno:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: black;
}
  



}